/*typ av text*/
h1,h2,h3,a,p,p1{
	font-family:arial;
	}

/*färg, storlek och cetrerad text*/
h1 {
	color:red;
  text-align:center;
	font-size:50px 
	}

/*färg och storlek*/
h3,h2,p {
	color:red;
	font-size:30px
	}

/*Storlek och cetrerad text*/
a {
	text-align:center;
	font-size:40px
	}
	
/*bakgrundsfärg på hemsidan*/
body {
	background-color:grey
	}

/*Bildens storlek*/
.under {
	text-decoration:none;
  width:100px;
  hight:100px;
	}
	
/*för att centrera texten*/	
.center {
	text-align:center;
	font-weight:bold;
	}

/*ram för listan*/
ul{
	border: 1px solid black; 
	border-collapse: collapse;
}
